h1 {
  border-bottom: 1px $grey-lt-300 solid;
  padding-bottom: $sp-4 !important;
  margin-bottom: $sp-5 !important;
}

.w-100 {
  width: 100%;
}

/* Callout customizations */

.enterprise, .self-hosting {
  margin-top: $sp-6 !important;
  margin-bottom: $sp-6 !important;
}

.notice, .warning {
  margin-top: $sp-5 !important;
  margin-bottom: $sp-5 !important;
}

.integration-logo-list {
  h2 {
    margin-top: $sp-3;
    margin-bottom: $sp-6;
    font-size: $sp-7 !important;
  }

  img {
    padding: 0;
    margin-bottom: $sp-6;
    margin-right: $sp-7;
    height: auto;
    max-height: 60px;
    max-width: 240px;
    border-style: none;
  }
}