<div class="integration-logo-list">
    <div class="integration-logo-group">
        <h2>Fintech</h2>
        <img alt="Plaid" src="/assets/logos/logo-plaid.png"/>
        <img alt="Stripe" src="/assets/logos/logo-stripe.png"/>
        <img alt="Increase" src="/assets/logos/logo-increase.png"/>
        <img alt="Unit" src="/assets/logos/logo-unit.png"/>
        <img alt="Intuit Quickbooks" src="/assets/logos/logo-intuit-quickbooks.png"/>
    </div>
    <div class="integration-logo-group">
        <h2>Scheduling</h2>
        <img alt="Google Calendar" src="/assets/logos/logo-google-calendar.png"/>
        <img alt="Microsoft Outlook" src="/assets/logos/logo-microsoft-outlook.png"/>
        <img alt="Apple Calendar" src="/assets/logos/logo-apple-calendar.png"/>
        <img alt="iCalendar" src="/assets/logos/logo-icalendar.png"/>
    </div>
    <div class="integration-logo-group">
        <h2>Code</h2>
        <img alt="GitHub" src="/assets/logos/logo-github.png"/>
        <img alt="Amazon Web Services" src="/assets/logos/logo-aws.png"/>
    </div>
    <div class="integration-logo-group">
        <h2>Communications</h2>
        <img alt="SignalWire" src="/assets/logos/logo-signalwire.jpg"/>
        <img alt="Plivo" src="/assets/logos/logo-plivo.png"/>
        <img alt="Twilio" src="/assets/logos/logo-twilio.png"/>
        <img alt="Intercom" src="/assets/logos/logo-intercom.png"/>
        <img alt="Front" src="/assets/logos/logo-front.png"/>
        <img alt="Postmark" src="/assets/logos/logo-postmark.png"/>
        <img alt="Email Octopus" src="/assets/logos/logo-email-octopus.jpg"/>
        <img alt="ConvertKit" src="/assets/logos/logo-convertkit.png"/>
        <img alt="Mailchimp" src="/assets/logos/logo-mailchimp.png"/>
    </div>
    <div class="integration-logo-group">
        <h2>Content</h2>
        <img alt="Shopify" src="/assets/logos/logo-shopify.png"/>
        <img alt="Sponsy" src="/assets/logos/logo-sponsy.png"/>
        <img alt="Transistor.fm" src="/assets/logos/logo-transistor-podcasting.png"/>
        <img alt="Atom and RSS" src="/assets/logos/logo-rss.png"/>
        <img alt="Mastodon" src="/assets/logos/logo-mastodon.png"/>
        <img alt="Salesforce" src="/assets/logos/logo-salesforce.png"/>
    </div>
    <div class="integration-logo-group">
        <h2>Travel</h2>
        <img alt="BookingPal" src="/assets/logos/logo-bookingpal.png"/>
        <img alt="CloudBeds" src="/assets/logos/logo-cloudbeds.png"/>
        <img alt="NextPax" src="/assets/logos/logo-nextpax.png"/>
    </div>
</div>